basePath: /api
definitions:
  entity.UpdateUserStatusInput:
    properties:
      is_active:
        type: boolean
    required:
    - is_active
    type: object
  entity.User:
    properties:
      created_at:
        type: string
      email:
        type: string
      full_name:
        type: string
      id:
        type: string
      is_active:
        type: boolean
      role_id:
        type: string
      updated_at:
        type: string
      username:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: This is the API documentation for the Home Market project.
  title: Home Market API
  version: "1.0"
paths:
  /admin/items/{id}/moderate:
    patch:
      consumes:
      - application/json
      description: Sets the status of a specific item to 'inactive' due to policy
        violation (Admin access only).
      parameters:
      - description: Item ID to moderate
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "403":
          description: Forbidden
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Moderate Item (Set Inactive)
      tags:
      - Admin
  /admin/users:
    get:
      consumes:
      - application/json
      description: Retrieves a list of all users in the system (Admin access only).
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/entity.User'
            type: array
        "403":
          description: Forbidden
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Get List of All Users
      tags:
      - Admin
  /admin/users/{id}/status:
    patch:
      consumes:
      - application/json
      description: Sets the 'is_active' status of a target user (Admin access only).
      parameters:
      - description: Target User ID
        in: path
        name: id
        required: true
        type: string
      - description: 'Status update (is_active: true/false)'
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/entity.UpdateUserStatusInput'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "403":
          description: Forbidden
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Block or Unblock User Account
      tags:
      - Admin
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
